.vscode/settings.json
*.pdf
allocator/target/
venv/
allocator/*.bat
EHSA_V3/*.db
allocator/test/bin/*.db 
allocator/test/bin/*.exe
allocator/test/reports/*.db
allocator/test/logs/*.txt
ehsa_frontend/build/windows/runner/Debug/ehsa_frontend.exe
ehsa_frontend/build/windows/runner/Debug/flutter_windows.dll
ehsa_frontend/build/windows/runner/Debug/url_launcher_windows_plugin.dll
ehsa_frontend/linux/flutter/generated_plugin_registrant.cc
ehsa_frontend/linux/flutter/generated_plugin_registrant.h
ehsa_frontend/linux/flutter/generated_plugins.cmake
ehsa_frontend/macos/Flutter/GeneratedPluginRegistrant.swift
ehsa_frontend/windows/flutter/generated_plugin_registrant.cc
ehsa_frontend/windows/flutter/generated_plugin_registrant.h
ehsa_frontend/windows/flutter/generated_plugins.cmake
allocator/test/output/reports/
build/pdf_generator/base_library.zip
pdf_generator.spec
build/pdf_generator/Analysis-00.toc
build/pdf_generator/localpycs/pyimod01_archive.pyc
build/pdf_generator/localpycs/pyimod02_importers.pyc
build/pdf_generator/localpycs/pyimod03_ctypes.pyc
build/pdf_generator/localpycs/pyimod04_pywin32.pyc
build/pdf_generator/localpycs/struct.pyc
build/pdf_generator/pdf_generator.pkg
build/pdf_generator/PYZ-00.pyz
build/pdf_generator/PYZ-00.toc
build/pdf_generator/warn-pdf_generator.txt
build/pdf_generator/xref-pdf_generator.html
allocator/test/output/
